# Dual-purpose config file for Python and GMTSAR
# Python-specific headers will override legacy options specified for GMTSAR below

#############################################
# Python configparser module section header for automated processing
[py-config]

# satellite options: S1
satellite = S1
wavelength = 56

# processing stages: 
# -1=frames; 0=raw_orig; 1=preprocess; 2=align; 3=topo_ra; 4=igrams; 5=unwrap
# stage 2 is not meaningful for Sentinel, since we align in the preprocess step. 
startstage = 5
endstage  =  5

# parallel processing options (parallel tool in shell)
num_processors = 1

# choose which interferograms to make. max_timespan units: days. max_baseline units: meters
# if intf_file is specified, will use only those interferograms and ignore the other options
# Annual parameters are for interferograms that span integer numbers of years. 
intf_file =
max_timespan = 37
max_baseline = 200
annual_crit_days = 30
annual_crit_baseline = 20
intf_type = SBAS+1YR+CHAIN+2YR+3YR
starttime = 
endtime = 

# Where do the files live? ABSOLUTE for data. RELATIVE to procdir for orbit. 
orbit_dir = ../S1_orbits
DATA_dir = /media/kmaterna/Kestrel/CGM/Track_64/DATA/Search/DATA
FRAMES_dir = /media/kmaterna/Kestrel/CGM/Track_64/FRAMES

# Are you making a particular frame? 
# Leave empty if you do not want to assemble a frame. 
# Please fill in nearrange1 and nearrange2 with points on the near-range side of the subsw.
# that you're using to define the section of the orbit to select. 
# This part will be manual.   Format: lon/lat
# In order of viewing from the satellite
frame_nearrange1 = -118.40047/32.18867
frame_nearrange2 = -119.41323/36.52169


# Subsw. for individual subsw.
swath = 3
polarization = vv

# Atmospheric corrections
atm_topo_detrend = 0

# Unwrapping
desired_swaths = 1,2,3



#############################################
# original GMTSAR portion
[csh-config]
# This is an example configuration file for batch processing
#
# all the comments or explanations are marked by "#" 
# The parameters in this configuration file is distinguished by their first word so 
# user should follow the naming of each parameter.
# the parameter name, = sign, parameter value should be separated by space " ". 
# leave the parameter value blank if using default value. 
#

#######################################
# processing stage for intf_batch.csh #
#######################################
# 1 - start from make topo_ra (don't use, this is now done automatically before intf_batch)
# 2 - start from make and filter interferograms
# 3 - start from unwrap and geocode
proc_stage = 2

# master granule to use in preprocessing and alignment. Format is the full name, eg. IMG-HH-ALPSRP048370010-H1.0__A or S1A20170604_ALL_F1
# if left blank, script will run preprocessing mode 1 and choose master to be an image near center of baseline-time plot
master_image = S1_20190616_ALL_F1  # format used for steps 1/2/3/4/5. changes F# with sw.


#########################################
#   parameters for preprocess           #
#   - pre_proc_batch.csh                #
#   first 4 parameters are OPTIONAL     #
#########################################
# num of patches 
num_patches = 

# earth radius
earth_radius =

# near_range
near_range =

# Doppler centroid
fd1 =

# SLC factor for ALOS2
# this value should be approximately 0.1. 
# Number of 'integers clipped' should be in the hundreds. If it is zero, increase this value. If it is millions, decrease it.
SLC_factor = 2.0


#####################################
#   parameters for make topo_ra     #
#   - dem2topo_ra.csh               #
#####################################
# subtract topo_ra from the phase
#  (1 -- yes; 0 -- no)
topo_phase = 1
# if above parameter = 1 then one should have put DEM.grd in topo/

# topo_ra shift (1 -- yes; 0 -- no)
shift_topo = 0

####################################################
#   parameters for make and filter interferograms  #
#   - intf.csh                                     #
#   - filter.csh                                   #
####################################################

# filters 
# look at the filter/ folder to choose other filters
filter_wavelength = 400

# decimation of images 
# decimation control the size of the amplitude and phase images. It is either 1 or 2.
# Set the decimation to be 1 if you want higher resolution images.
# Set the decimation to be 2 if you want images with smaller file size.
# rangedec and azimuthdec set the original GMTSAR file size (before custom downsampling). 
# I found that rangedec=8, azimuthdec = 2 resulted in 71Mb grd file (pretty good).
dec_factor = 2
range_dec = 32
azimuth_dec = 8


#####################################
#   parameters for unwrap phase     #
#   - snaphu.csh                    #
#####################################
# correlation threshold for snaphu.csh (0~1)
# set it to be 0 to skip unwrapping.
threshold_snaphu = 0.1

# region to unwrap in radar coordinates (leave it blank if unwrap the whole region)
#  example format 500/10800/500/27200  - OPTIONAL
region_cut = 

# use landmask (1 -- yes; else -- no)
switch_land = 1

#
# Allow phase discontinuity in unrapped phase. This is needed for interferograms having sharp phase jumps.
# defo_max = 0 - used for smooth unwrapped phase such as interseismic deformation
# defo_max = 65 - will allow a phase jump of 65 cycles or 1.82 m of deformation at C-band
#
defomax = 0.00001

#####################################
#   parameters for geocode          #
#   - geocode.csh                   #
#####################################
# correlation threshold for geocode.csh (0~1)
# threshold_geocode = 0 will skip geocoding (useful for batch processing)
threshold_geocode = 0


