# Config file for Stacking methods
#############################################
# Python configparser module section header 
[py-config]

# satellite options: S1
# You can provide multiple swaths at once (will do that later)
satellite = S1
wavelength = 56

# stage0: setup
# stage1: corrections for atmosphere and errors etc.
# stage2: get reference pixel
# stage3: velocity and time series formation
# stage4: geocode
startstage = 0
endstage  =  3

# Reference pixel (lon/lat, and/or row/col)
# You can hard code the swath and idx if you want to save the value from a previous run. 
ref_loc = -114.965/34.844
ref_idx = 2097/1411

# timeseries options: STACK or NSBAS or SBAS or WNSBAS or COSEISMIC
ts_type = NSBAS

# File I/O Options
# intf_dir should have all the folders with intfs (format YYYYJJJ_YYYYJJJ)
# ts_output_dir is where outputs will live
intf_dir = Igrams_Tar/T173_data_geocoded
intf_filename = unwrap_dsamp_ll.grd
corr_filename = corr_dsamp_ll.grd
geocoded_intfs = 1
ts_output_dir = stacking/no_smoothing

# sbas parameters
sbas_smoothing = 0.0

# nsbas parameters: minimum % of good igrams for nsbas, or -1 for full-rank pixels only
nsbas_min_intfs = 50

# Do you want to choose a subset of your images to generate a time series? 
# Timespan is the duration of interferograms you want to use (300- means less than 300 days; 300+ means greater than 300 days)
start_time = 20141001
end_time = 20190704
coseismic = 
intf_timespan = 300-

# choose which interferograms to skip (bad intfs)
skip_file = 

# Choose points to reverse-geocode and get their velocities and time series
ts_points_file = 

#de-trending options, including GPS velocity file, optional to be used for de-trending
detrend = False
trendparams = 3
gps_file =
flight_angle = 194
look_angle = 30

# Options for fancy corrections: phase unwrapping errors, and atmospheric corrections
solve_unwrap_errors = 0
gacos = 0
aps = 0
detrend_atm_topo = 0


